@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}


.Calc {
  width: 400px;
  border: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

.Dsply {
  border: 5px;
  border-color: rgb(0, 92, 95);
  border-style: solid;
  font-size: 2rem;
  text-align: right;
}

.Bttns {
  height: 400px;
  border: 5px;
  border-color: rgb(153, 79, 79);
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(218, 122, 122);
}

.Bttns > button {
  border: 5px solid lightpink;
  font-size: 2em;
  margin: 5px;
  border-radius: 15%;
  font-family: Noto Sans Japanese;
  background-color: antiquewhite;
}

.Bttns >button:hover {
  background-color: bisque;
}